<div class="home">
  <div class="home-card">

    <h1>Bienvenido</h1>
    <p class="subtitle">
      Selecciona una opción para continuar
    </p>

    <div class="actions">
      <button class="btn btn-primary" (click)="goToRegister()">
        Registrarse
      </button>

      <button class="btn btn-success" (click)="goToUserLogin()">
        Login Usuario
      </button>

      <button class="btn btn-success-outline" (click)="goToAdminLogin()">
        Login Admin
      </button>
    </div>

  </div>
</div>
